@import 'bootstrap/scss/bootstrap';


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__nuxt {
  width: 100%;
  height: 100%;
}

.full_width_full_height {
  width: 100%;
  height: 100%;
}
